/** @format */

/* Parent div */
.inputParent {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 100%;
}

/* Input */
.inputParent .normalInput {
	display: block;
	border-radius: 5px;
	border: none;
	/* border-bottom: 1px solid var(--black); */
	background-color: var(--grey1);
	/* height: 20px; */
	font-size: 16px;
	text-align: center;
	vertical-align: middle;
	transition: 0.1s;
	width: 80%;
	padding: 5px;
}

/* Input */
.inputParent .normalInput:focus {
	border: none;
	outline: none;
	background-color: var(--white);
}

/* Input */
.inputParent .normalInput:hover {
	background-color: var(--white);
}
