/** @format */

.upload.icon {
	margin: 0;
}

.fileInputParent {
	position: relative;
	width: 80%;
	margin: auto;
	margin-top: 10px;

	/* background-color: var(--grey2);
	border-radius: 5px;
	padding: 5px; */
}

.fileInputParent .fileInput {
	height: 40px;
}

.fileInputParent .fileInput .file {
	position: relative;
	height: 40px;
	width: 100%;
	cursor: pointer;
}

.fileInputParent .fileInput .fakeFileInput {
	display: flex;
	align-items: center;

	position: absolute;
	top: 0px;
	left: 0px;

	height: 40px;
	width: 100%;
}

.fileInputParent .fileInput .fakeFileInput input {
	border: none;
	outline: none;
	height: 100%;
	width: 100%;
	border-radius: 10px;
	border: 1px var(--grey4) dashed;
	text-align: center;
}

.fileInputParent .fileInputPreview {
	width: 100%;
	padding: 5px;
	border: 1px var(--grey2) dashed;
	border-radius: 5px;
	margin-top: 5px;
}

.fileInputParent .fileInputPreview .previewChild {
	width: 100%;
	height: 20px;
	background: var(--white);
	display: flex;
	align-items: center;
	position: relative;
	margin-top: 5px;
	border-radius: 5px;
}

.fileInputParent .fileInputPreview .previewChild:first-of-type {
	margin: 0;
}

.fileInputParent .fileInputPreview .previewChild p {
	height: 100%;
	margin: 0;
	vertical-align: middle;
	margin-left: 10px;
	font-size: 16px;
	display: flex;
	align-items: center;
}

.fileInputParent .fileInputPreview .previewChild i {
	position: absolute;
	right: 10px;

	display: flex;
	justify-content: center;
	align-items: center;

	vertical-align: middle;
	font-weight: normal;

	margin: 0;
	height: 100%;

	cursor: pointer;
}
